<template>
  <div>
    <h1>Escala semanal - PDCC</h1>
    <img :src="img">
    <b-button class="btn" v-b-toggle.sidebar-variant><b-icon icon="arrow-right"></b-icon></b-button>

    <b-sidebar id="sidebar-variant" title="Menu" bg-variant="dark" text-variant="secondary" shadow>
      <div class="px-3 py-2">
        <h2 style="margin-top: 30px;"> Controle de Capela  </h2>

      <input id="add" v-model="nome" type="text" placeholder="Adicionar capela">
      <input class="ok" type="submit" value="OK" @click="adicionarCapela"> 

      <div class="itens">
        <select id="seltab">
          <option>Matriz</option>
          <option>Nossa Senhara de Fatima - NSF</option>
          <option>São Roque</option>
          <option>Santa Edwirges</option>
        </select>

      </div>
      </div>
    </b-sidebar>
     
  </div>
</template>

<script>
export default {
    data(){
      return {
        nome: '',
        img: './src/assets/planoDeFundo.jpg'
      }
    },
    methods:{
      adicionarCapela(){
        const nome = this.nome
        const item = document.createElement("option")
        
        item.innerHTML = nome
        document.getElementById("seltab").appendChild(item)
      }
    }
}
</script>

<style scoped>
.btn {
  display: flex;
  align-items: flex-end;
  margin-left: 30px;
  margin-top: -50px;
  padding-left: 10px;
}
.itens option {
position: relative;
margin-top: 20px;
padding: 20px;
}
#add {
  position: relative;
  size: 50px;
  left: -30px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;

}
.ok {
position: absolute;
top: 25%;
left: 80%;
}
</style>
