<template>
<div>
  <div>
    <b-card-group deck>
      <div class="mt-3" id="card-01">
        <b-card bg-variant="danger" text-variant="white" header="07:00 horas" class="text-center">
          <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
        </b-card>
      </div>
    </b-card-group>
  </div>

    <div>
    <b-card-group deck>
      <div class="mt-3" id="card-02">
        <b-card bg-variant="dark" text-variant="white" header="11:00 horas" class="text-center">
          <b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
        </b-card>
      </div>
    </b-card-group>
  </div>

 <div>
    <b-card-group deck>
      <div class="mt-3" id="card-03">
        <b-card bg-variant="success" text-variant="white" header="19:00 horas" class="text-center">
          <b-card-text >
            <span>Coroinha 01:{{pessoa[0]}}</span>
            <span>Coroinha 02:{{pessoa[1]}}</span>
            <span>Coroinha 03:{{pessoa[2]}}</span>
            <span>Coroinha 04:{{pessoa[3]}}</span>
            <span>Cerimoniario:{{pessoa[4]}}</span>
            <span>Sino:{{pessoa[5]}}</span>

          <input type="button" value="Editar"  @click="editar"  >
          <input type="button" value="Escalar" @click="sorteio" >
          <input type="button" value="Deletar" @click="deletar" >

          </b-card-text>
        </b-card>
      </div>
    </b-card-group>
  </div>

</div>  
</template>

<script>
export default {
    data() {
        return{
          pessoa: [
            { nome:'wesley'},
            { nome:'samir' },
            { nome:'brian' },
            { nome:'karla' },
            { nome:'Vitor' },
            { nome:'Luiza' },
          ]
        }
    },
    methods:{
      sorteio(){
        //SORTEIA OS COROINHAS EM SUAS DEVIDAS FUNÇÕES. (OBS:PENDENTE)

        console.log('')

      },
      editar(){
        //EDITA OS NOMES DOS COROINHAS. (OBS:PENDENTE)

        console.log('')
      }
    },
      deletar(){
        //DELETA OS NOMES DOS COROINHAS. (OBS:PENDENTE)
    }
}
</script>

<style scoped>
#card-01 {
  max-width: 400px;
  height: 200px;
  padding: 10px;
  position: absolute;
  top: 20%;
  left: 25%;
}
#card-02 {
  max-width: 400px;
  padding: 10px;
  position: absolute;
  top: 20%;
  left: 60%;
}
#card-03 {
  width: 400px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 40%;
}
span {
  display: block;
  text-align: left;
}
input {
  margin: 5px;
}
</style>