<template>
  <div id="app">
    <Conteudo/>
    <Matriz-horario/>
  </div>
</template>

<script>
import Conteudo from './components/Conteudo.vue'
import MatrizHorario from './components/MatrizHorario.vue'

export default {
  name: 'App',
  components: {
    Conteudo,
    MatrizHorario
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
